<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <link href="../static/css/style.css" rel="stylesheet">
        <script type="text/javascript">
        //checking this part
        var places_var = '{{ places }}'
        //modified
        var invalid_places_var = '{{ invalid_places }}'
        var generate_button = false;
        function changeImage(img_name)
        {   
            var process_img = img_name.replace(" ","");
            console.log(process_img);
            var img = document.getElementById("image");
            img.src="../static/image/" + process_img + ".png";
        }

        function testInvalid(single_place, invalid_places_var){
            for(var i = 0; i < invalid_places_var.length; i++ ){
                if(invalid_places_var[i] == single_place){
                    return true;
                }
            }
            return false;
        }

        function myFunc(places_var, invalid_places_var) {
            if (generate_button == false){
                const tmp_invalid = invalid_places_var.replace("[","").replace("]","");
                let invalid_places_list = tmp_invalid.split(", ")

                const tmp = places_var.replace("{","").replace("}","");
                let places_list = tmp.split(", ").sort(function(a, b){
                    if(a == "START") return -1;
                    if(b == "START") return 1;
                    if(a == "END") return 1;
                    if(b == "END") return -1;

                    if(a.length < b.length) return -1;
                    if(a < b) return -1;
                    if(a == b) return 0;
                    else return 1;
                });
                // console.log(places_list);
                // alert(final_marking_name);
                for (var i = 0; i < places_list.length; i++){
                    // alert(places_list)
                    (function () {
                        var btn = document.createElement("BUTTON");
                        var image_name = places_list[i];
                        btn.id = 'btn' + places_list[i];
                        btn.innerHTML = places_list[i];
                        btn.setAttribute("value", places_list[i]);
                        btn.setAttribute("text",places_list[i]);
                        btn.style.fontSize = "18px";
                        let buttonDiv = document.getElementById("buttons");
                        buttonDiv.appendChild(btn);
                        generate_button = true;
                        btn.style.backgroundColor = '#018dfc';
                            btn.style.color = '#FFFFFF'
                            btn.addEventListener("click", function() {
                                changeImage(image_name);
                                // alert("This is an invalid place as it does not have multiple exclusive choices.")
                            });
                        /*
                        if (testInvalid(String(places_list[i]).trim(),invalid_places_list)){
                            // btn.style.backgroundColor = '';
                            // btn.style.color = '#FF0000'
                            btn.style.backgroundColor = '#018dfc';
                            btn.style.color = '#FFFFFF'
                            btn.addEventListener("click", function() {
                                changeImage(image_name);
                                // alert("This is an invalid place as it does not have multiple exclusive choices.")
                            }   
                        );

                        }
                        else{
                            btn.style.backgroundColor = '#018dfc';
                            btn.style.color = '#FFFFFF'
                                btn.addEventListener("click", function() {
                                    changeImage(image_name);
                                    }
                                );
                        }
                        */
                    })();
                }
            }
            }
            

        function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }


        function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
        </script>
    </head>

    <body id = "body-wrapper">

        <div id = "header">
            <h1>Process Mining Visual Analytic Tool</h1>
        </div>

        <div id = "petri-net-wrapper">
            <h1>Generated Petri Net</h1>
            <img src="../static/image/petri_net.png"
                 style = "border: 3px solid #0e72ab;"
                 id = "image" alt="petri_net">
            <h2>Select Your Places</h2>

            <!-- <h3>Here is Preview</h3> -->
            <!-- <button id="clickme" onclick="changeImage();">Click to change image!</button> -->
            <p>Click the "Preview" button!
                <br>After that, click a button below to see the exclusive choices for the named place.
            </p>
            <button id="preview" onclick="myFunc('{{ places }}', '{{invalid_places}}');">Preview </button>
            <!-- <button id="origin_clickme" onclick="changeOriImage();">The original Image</button> -->

            <div id="buttons"></div>

            <!-- <div id = "sliders">
            </div> -->
            <p>Type below a place name you're interested in
                <br> (it must be a place <b>in the diagram</b> that is <b>green</b>)!</p>
                <!-- loading might need to added here -->
                <form action = "http://localhost:5000/select_places" method="POST">
                <!-- <form action = "https://process-mining-zkathz2wkq-ts.a.run.app/select_places" method="POST"> -->
                    <input type="text" id="select_places" name="select_places" size="5" maxlength="5">
                    <br><br>
                    <!-- <input type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value);"> -->
                    Model: <select name="modelSelect" id="modelSelect">
                    <!-- <select name="modelSelect" id="modelSelect" onchange="this.form.submit()"></select> -->
                                <option value="rfb" selected>rfb</option>
                                <option value="l1">l1</option>
                                <option value="l2">l2</option>
                            </select> &nbsp;
                    Penalty value: <input type="range"  style="display: inline;" name="PenInputName" id="PenInputId" value="1" min="1" max="10" oninput="PenOutputId.value = PenInputId.value">
                    <output name="PenOutputName" id="PenOutputId">1</output>
                    <br><br>
                    <input type="submit" class="submit" value="Submit" onclick="$('#loading2').show();">
                    <div id="loading2" style="display:none;"><img src="../static/image/loading.gif" alt="" />May take a few minutes!</div>
                </form>
            </div>
        </div>
        <div id = "footer">
            <h1>© 2021 Prof. Simon Poon's ISYS3888 Project Group</h1>
        </div>
    </body>
</html>

<script>
    var message = "{{ message }}";
    if (message != ""){
        alert(message);
    }
</script>