@charset "UTF-8";

#body-container {
    text-align: center;
    vertical-align: top;
}

#header {
    position: fixed;
    display: inline-block;
    top: 0;
    left: -8px;
    height: 8vh;
    width: 101vw;
    font-size: 80%;
    background-color: #003c5e;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

#footer {
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: -8px;
    height: 8vh;
    width: 101vw;
    font-size: 50%;
    background-color: #003c5e;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

#upload-div {
    position: relative;
    top: 25vh;
    height: 50vh;
    display: inline-block;
    font-size: 160%;
    /*
     * if every confused about the divs, give them background colour
     * background-color: #4CAF50;
     */
}

#upload-submit {
    position: relative;
    display: inline-block;
    top: 10vh;
    font-size: 60%;
    /*
     * if every confused about the divs, give them background colour
     * background-color: #D58092;
     */
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid red; /* red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* 
  adjust image size automatically
  */
  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

div#loading {
  /* position: relative;
  left: 30px; */
  align-items: center;
  width: 100px;
  height: 100px;
  display: none;
  text-align: center;
  }

span {
    height: 50px;
    display: block;
    font-size: x-large;
    font-family: sans-serif;
    padding-top: 20px;
    padding-left: 20px; 
    color: rgba(207, 10, 10, 0.815);
}